In [2]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as df
import yfinance as yf
import pandas_ta
import warnings
#warnings.filterwarnings('ignore')

In [35]:
# sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

# sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

# symbols_list = sp500['Symbol'].unique().tolist()

# end_date = '2024-11-25'

# start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

# df = yf.download(tickers=symbols_list, 
#                  start=start_date,
#                  end=end_date).stack()

#df.index.names = ['date', 'ticker']

#df.columns = df.columns.str.lower()

df

Price               adj close       close        high         low        open  \
date       ticker
2016-11-28 A        40.981747   43.599998   44.689999   43.580002   44.520000
           AAPL     25.831560   27.892500   28.117500   27.847500   27.857500
           ABBV     42.172958   59.459999   59.939999   59.009998   59.130001
           ABT      33.519829   38.740002   39.220001   38.700001   39.220001
           ACGL     25.870779   27.206667   27.406668   27.116667   27.343332
...                       ...         ...         ...         ...         ...
2024-11-22 XYL     126.870003  126.870003  127.730003  125.760002  126.139999
           YUM     135.270004  135.270004  135.869995  134.179993  134.529999
           ZBH     110.220001  110.220001  110.370003  108.669998  108.669998
           ZBRA    397.190002  397.190002  397.839996  392.540009  394.279999
           ZTS     176.960007  176.960007  178.070007  176.279999  176.350006

Price                   volume
date       ticker
2016-11-28 A         2241800.0
           AAPL    108776000.0
           ABBV      6274600.0
           ABT       5727800.0
           ACGL      1845000.0
...                        ...
2024-11-22 XYL       1365600.0
           YUM        992500.0
           ZBH       2015000.0
           ZBRA       232000.0
           ZTS       1854600.0

[989262 rows x 6 columns]

## Calculate features and technical indicators for each stock.
##### Garman-Klass Volatlity
##### RSI
##### Bollinger Bands
##### ATR
##### MACD 
##### Dollar Volume

In [53]:
#df['garman_klass_vol'] = ((np.log(df['high'])-np.log(df['low']))**2)/2-(2*np.log(2)-1)*((np.log(df['adj close'])-np.log(df['open']))**2)

#df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))

#df['bb_low'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,0])

#df['bb_mid'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,1])

#df['bb_high'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,2])
"""
def compute_atr(stock_data):
    atr = pandas_ta.atr(high=stock_data['high'],
                        low=stock_data['low'],
                        close=stock_data['close'],
                        length=14)
    return atr.sub(atr.mean()).div(atr.std())
"""
#df['atr'] = df.groupby(level=1, group_keys=False).apply(compute_atr)

"""
def compute_macd(close):
    macd = pandas_ta.macd(close=close, length=20).iloc[:,0]
    return macd.sub(macd.mean()).div(macd.std())
"""

#df['macd'] = df.groupby(level=1, group_keys=False)['adj close'].apply(compute_macd)

#df['dollar_volume'] = (df['adj close']*df['volume'])/1e6

df

Price               adj close       close        high         low        open  \
date       ticker
2016-11-28 A        40.981747   43.599998   44.689999   43.580002   44.520000
           AAPL     25.831560   27.892500   28.117500   27.847500   27.857500
           ABBV     42.172958   59.459999   59.939999   59.009998   59.130001
           ABT      33.519829   38.740002   39.220001   38.700001   39.220001
           ACGL     25.870779   27.206667   27.406668   27.116667   27.343332
...                       ...         ...         ...         ...         ...
2024-11-22 XYL     126.870003  126.870003  127.730003  125.760002  126.139999
           YUM     135.270004  135.270004  135.869995  134.179993  134.529999
           ZBH     110.220001  110.220001  110.370003  108.669998  108.669998
           ZBRA    397.190002  397.190002  397.839996  392.540009  394.279999
           ZTS     176.960007  176.960007  178.070007  176.279999  176.350006

Price                   volume  garman_klass_vol        rsi    bb_low  \
date       ticker
2016-11-28 A         2241800.0         -0.002333        NaN       NaN
           AAPL    108776000.0         -0.002156        NaN       NaN
           ABBV      6274600.0         -0.043999        NaN       NaN
           ABT       5727800.0         -0.009439        NaN       NaN
           ACGL      1845000.0         -0.001127        NaN       NaN
...                        ...               ...        ...       ...
2024-11-22 XYL       1365600.0          0.000108  48.788606  4.781060
           YUM        992500.0          0.000067  52.082171  4.883569
           ZBH       2015000.0          0.000043  54.438181  4.658121
           ZBRA       232000.0          0.000069  60.907590  5.914542
           ZTS       1854600.0          0.000046  44.642241  5.147016

Price                bb_mid   bb_high       atr      macd  dollar_volume
date       ticker
2016-11-28 A            NaN       NaN       NaN       NaN      91.872880
           AAPL         NaN       NaN       NaN       NaN    2809.853785
           ABBV         NaN       NaN       NaN       NaN     264.618445
           ABT          NaN       NaN       NaN       NaN     191.994875
           ACGL         NaN       NaN       NaN       NaN      47.731587
...                     ...       ...       ...       ...            ...
2024-11-22 XYL     4.829339  4.877619  0.626261 -1.179897     173.253676
           YUM     4.907857  4.932145  0.712395 -0.225595     134.255479
           ZBH     4.699571  4.741022 -0.590623  0.465294     222.093302
           ZBRA    5.964976  6.015410  0.087145  0.531073      92.148081
           ZTS     5.180613  5.214210  0.660563 -1.215823     328.190028

[989262 rows x 14 columns]