## Twitter Sentiment Investment Stratergy

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import yfinance as yf
import os
plt.style.use('ggplot')

# data_folder = "C:/Users/codyr/Desktop/Coding_/Quant_Trading_Basics"

# sentiment_df = pd.read_csv(os.path.join(data_folder, 'sentiment_data.csv'))

# sentiment_df['date'] = pd.to_datetime(sentiment_df['date'])

# sentiment_df = sentiment_df.set_index(['date', 'symbol'])

# sentiment_df['engagement_ratio'] = sentiment_df['twitterComments']/sentiment_df['twitterLikes']

# sentiment_df = sentiment_df[(sentiment_df['twitterLikes']>20)&(sentiment_df['twitterComments']<10)]

sentiment_df

#### Aggregate Monthly sentiment ratios and calculate monthly averages

In [13]:
sentiment_df

                   twitterPosts  twitterComments  twitterLikes  \
date       symbol
2021-11-18 DIS             65.0              6.0         108.0
           MA              21.0              4.0          40.0
           V               48.0              4.0          29.0
2021-11-20 V              137.0              5.0          54.0
2021-11-22 K               24.0              6.0          39.0
...                         ...              ...           ...
2023-01-03 MRO            205.0              7.0          62.0
2023-01-04 CCL            261.0              0.0          26.0
           D               56.0              8.0          28.0
           DAL            234.0              7.0          39.0
           TMO             21.0              2.0          32.0

                   twitterImpressions  twitterSentiment  engagement_ratio
date       symbol
2021-11-18 DIS               313479.0               NaN          0.055556
           MA                 78938.0               NaN          0.100000
           V                  92684.0               NaN          0.137931
2021-11-20 V                 529870.0               NaN          0.092593
2021-11-22 K                 221584.0               NaN          0.153846
...                               ...               ...               ...
2023-01-03 MRO               236415.0          0.610525          0.112903
2023-01-04 CCL               124875.0          0.635317          0.000000
           D                  61203.0          0.614083          0.285714
           DAL               112431.0          0.538929          0.179487
           TMO                30857.0          0.610020          0.062500

[634 rows x 6 columns]

In [25]:
aggregated_df = (sentiment_df.reset_index('symbol').groupby([pd.Grouper(freq='ME'), 'symbol'])
 [['engagement_ratio']].mean())

aggregated_df['rank'] = (aggregated_df.groupby(level=0)['engagement_ratio']
                         .transform(lambda x: x.rank(ascending=False)))

aggregated_df

                   engagement_ratio  rank
date       symbol
2021-11-30 ABT             0.243590   2.0
           DIS             0.055556   8.0
           EBAY            0.250000   1.0
           GS              0.117647   5.0
           K               0.153846   4.0
...                             ...   ...
2023-01-31 DAL             0.179487   3.0
           EBAY            0.186047   2.0
           MRO             0.112903   4.0
           NUE             0.071429   5.0
           TMO             0.062500   7.0

[307 rows x 2 columns]

### Select the top 5 stocks based on their cross-sectional ranking for each month

In [35]:
# filtered_df = aggregated_df[aggregated_df['rank']<6].copy()

# filtered_df = filtered_df.reset_index(level=1)

# filtered_df.index = filtered_df.index+pd.DateOffset(1)

# filtered_df = filtered_df.reset_index().set_index(['date', 'symbol'])

filtered_df.head(20)

                   engagement_ratio  rank
date       symbol
2021-12-01 ABT             0.243590   2.0
           EBAY            0.250000   1.0
           GS              0.117647   5.0
           K               0.153846   4.0
           KO              0.200000   3.0
2022-01-01 A               0.234114   5.0
           C               0.296296   3.0
           D               0.428571   1.0
           EA              0.333333   2.0
           KEY             0.250000   4.0
2022-02-01 ABT             0.212500   3.0
           D               0.243590   2.0
           DD              0.200000   4.0
           ILMN            0.181818   5.0
           SLB             0.258065   1.0
2022-03-01 A               0.230769   2.0
           AAP             0.363636   1.0
           BKR             0.167795   5.0
           ILMN            0.193548   4.0
           STZ             0.228571   3.0